body{
    background-color: #B0E0E6;}
    img{
        width: 20%;}
    figure{
        text-align: center;
    }
    .img_topo{
        width: 50%;
    }
    .container{
        width: 80%;
        margin: auto;
    }