body{
    background-color: #DC143C;
}

figure{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img_topo{
     width: 30%;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    font-size: 2em;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Cousine', monospace;
}

p{
    font-size: 1.5em;
    text-indent: 30px;
}

.botao {
    width: 130px;
    height: 50px;
    background-color: black;
    color: #fff;
    margin-top: 5%;
}

.botao p{
    padding-top: 9px;
    margin-top: 2%;
    margin-bottom: 2%;;
}

.parag_letras > p{
    font-size: 1.5em;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

footer{
    background-color: #FF6347;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}

footer p{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center; 
}

.img_topo{
    width: 100%;
}

.img_fla_direita{
    width: 15%;
    float: right;
    margin-left: 2%;
}

.img_fla_esquerda{
    width: 15%;
    float: left;
    margin-right: 2%;
}
.img_corpo2{
    width: 20%;
}

.img_corpo{
    width: 25%;
}

p{
    text-align: justify;
    font-family: 'Share Tech Mono', monospace;
}

.itens_menu{
    text-align: center;
    line-height: 1.5;
    display: inline-flex;
}

.fixo{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.img_logo{
    text-align: center;
    width: 15%;
}

.banner{
    margin-top: 370px;
}

header{
    padding: 2%;
    background-color: #FF6347;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
}

li{
    padding: 0.5%;
}

.itens_menu a:link, .itens_menu a:hover{
    color: #8B4513;
    font-weight: bolder;
    text-decoration: none;
}

.itens_menu a:hover{
    background-color: gray;
}

#saiba_mais a:hover{
    color: #8B4513;
}

#saiba_mais a:visited{
    color: #FF0000;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1%;
    font-family: 'Share Tech Mono', monospace;
}
h2{
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Cousine', monospace;
    
}

th{
    width: 5%;
    text-align: center;
    background-color: #F5FFFA;
    font-family: 'Share Tech Mono', monospace;
}

.audios{
    text-align: center;
    width: 8%;
    padding-bottom: 0.5em;
}

.mp3{
    width: 50%;
}
.titulo_musica{
    font-size: 1.5em;
    padding-bottom: 1%;
}

td{
    padding-top: 1%;
}

input[type=text], select, input[type=tel], input[type=email], input[type=date], textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-family: 'Share Tech Mono', monospace;
}

label{
    width: 50%;
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
}

.col-25{
    width: 25%;
    float: left;
    font-family: 'Share Tech Mono', monospace;
}

.col-75{
    width: 75%;
    float: left;
    font-family: 'Share Tech Mono', monospace;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    font-family: 'Share Tech Mono', monospace;
} 

.form{
    background-color: rgba(9, 7, 6, 0.3);
    border-radius: 15px;
    padding: 20px;
    font-family: 'Share Tech Mono', monospace;

}

input[type=submit]{
    background-color: #DC143C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Share Tech Mono', monospace;
}

.menu{
    background-color: #FF6347;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }    
}

@media screen and (main-width: 800px) {
    header{
        flex-direction: row;
    }
}